{% extends 'base.html.twig' %}

{% block main %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Avliga CRM</h1>
            </div>

            <div id="status">
                <p>
                    Simple consignation management system.
                </p>
            </div>

            <div id="next">
                <h2>What's next?</h2>
                <p>
                    <a href="https://avliga.bg">avliga.bg</a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}

