{% extends 'base.html.twig' %}

{% block main %}

    <div class="row">
        <!-- Client Data -->
        <div class="card shadow mb-4 col-lg-6 col-md-6 p-0">
            <div class="card-header d-flex justify-content-between py-3">
                <h6 class="m-0 font-weight-bold text-primary">User ID: {{ user.id }}</h6>
                <a href="{{ path('users_list') }}" class="abs-right-1"><i class="fas fa-times-circle fa-lg text-dark p-0"></i></a>
            </div>
            <div class="card-body p-0">
                <table class="table">
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>
                            <ul class="m-0 p-0 list-group">
                                {% for role in user.roles %}
                                    <li class="list-group-item border-0 pt-0 pl-0 pb-1">{{ role }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}



