.bg-avliga-login {
    background: url('../img/avliga-logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media print {
    .no-print {
        display: none !important;
    }
    @page { margin: 0; }
    body { margin: 10mm; }
    .print-logo {
        margin-bottom: 5mm;
        margin-left: -5mm;
        width: 70mm;
    }
    .dataTables_wrapper  div.row:first-child,
    .dataTables_wrapper  div.row:last-child {
        display: none;
    }
}

@media screen {
    .print-only {
        display: none;
    }
}

label > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    color: red;
    position: absolute;
    right: 1em;
}

.tooltip-inner > ul {
    margin: 0px;
    padding: 5px;
    list-style: none;
    font-size: 15px;
}

#report_form .card-header ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 1em;
    list-style: none;
    color: red;
}

.abs-right-1 {
    position: absolute;
    right: 1em;
}

.abs-right-2 {
    position: absolute;
    right: 1.5em;
}

.h-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.hide-table {
    display: none;
}

#historyModal .modal-table th {
    text-transform: capitalize;
}